@import './global.scss';

.create-event-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    h1 {
      color: $primary-color;
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      input {
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
  
      .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
  
        .btn-create {
          background: $primary-color;
          color: white;
          padding: 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
  
          &:hover {
            background: darken($primary-color, 10%);
          }
        }
  
        .btn-cancel {
          background: $danger-color;
          color: white;
          padding: 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
  
          &:hover {
            background: darken($danger-color, 10%);
          }
        }
      }
    }
  }
  