// Definir las variables antes de importar otros archivos
$primary-color: #007bff;
$secondary-color: #f8f9fa;
$danger-color: #f44336;
$warning-color: #ffc107;
$color-black: #000000;
$color-Gray: #9b9b9b;

body {
  font-family: Arial, sans-serif;
  background: $secondary-color;
  margin: 0;
  padding: 0;
}

